body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul {
  background: #000;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
span {
  background: rgba(255, 255, 255)
    linear-gradient(to right, rgba(141, 211, 29, 0.76) 100%, rgb(0, 0, 0) 0%)
    no-repeat 0 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 0% 100%;
  color: red;
}

.currentSpan {
  animation: scan linear;
  background-size: 100% 100%;
}

.btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  margin: 0 20px;
  width: 100px;
  height: 38px;
  line-height: 38px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: none;
}

.show-btn {
  display: block;
}

@keyframes scan {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
